@import "@/shared/styles/mixins";

.curriculum {
	&__section {
		display: flex;
		flex-direction: column;
		gap: 24px;

		margin-bottom: 8px;
		.inputs {
			@include card-wrapper;
			.list-items {
				margin-top: 12px;
				border-radius: 4px;

				&__item {
					display: flex;
					gap: 12px;
					align-items: center;

					&__name {
						flex: 1;
					}
				}
			}
		}
	}
}
