@import "@/shared/styles/mixins";

.curriculum {
	&__section {
		margin-bottom: 8px;
		.inputs {
			@include card-wrapper;
			.list-items {
				margin-top: 12px;
				border-radius: 4px;

				&__item {
					display: flex;
					gap: 12px;
					align-items: center;

					&__name {
						flex: 1;
					}
				}
			}
		}

		&__name {
			margin-top: 4px;
			display: flex;
			align-items: start;
			justify-content: space-between;
			gap: 12px;

			.form {
				flex: 1;

				.btns {
					display: flex;
					justify-content: end;
					gap: 12px;
				}
			}
		}
	}
}
