@import "@/shared/styles/mixins";

.attempt-assignment {
	background: white;
	margin-top: 12px;
	padding: 32px !important;
	border-radius: 12px;

	.choices {
		display: flex;
		flex-direction: column;
	}
}
