@import '@shared/styles/mixins';

.sider {
  padding: 3px 12px;
  position: relative;

  .menu-collapse {
    position: absolute;
    top: 0;
    right: -24px;
  }

  .divider {
    margin: 8px;
  }

  .menu {
    margin-top: 24px;
    border: none;

    li {
      font-size: 16px;
    }
  }
}
