@import "@/shared/styles/mixins";
@import "@/shared/styles/variables";

.new-class {
	position: relative;
	background: white;
	min-height: 85vh;
	border-radius: 6px;
	margin-top: 32px;
	@include card-wrapper;

	.content {
		min-height: 82vh;
	}

	.submit-btn {
		width: 100%;
		margin: 0 auto;
		margin-top: 12px;
	}

	.section {
		min-height: 82vh;
		height: 100%;
		overflow-y: auto;
		padding: 0 12px;

		&__heading {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.title {
				font-size: 22px;
				font-weight: 500px;
				display: flex;
				gap: 6px;
			}

			.description {
				font-size: 14px;
				color: #4e5255;
				font-style: italic !important;
			}
		}

		&__description {
			font-size: 14px;
			font-weight: 400;
			font-style: italic;
			color: $neutral-4;
		}

		&:not(:first-child) {
			margin-top: 16px;
		}

		.info-block {
			&__title {
				font-size: 18px;
				font-weight: 500;
			}

			&__description {
				font-size: 13px;
				font-style: italic;
				color: $neutral-4;
			}

			&__question-list {
				margin-top: 12px;
				display: flex;
				gap: 12px;

				&__input {
					flex: 1;
				}
			}
		}
	}
}

.label {
	font-weight: 500;
}

.detail-info {
	@extend .section__description;
}
