@import './variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin background-image {
  // background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin card-wrapper {
  background-color: #fefefe;
  border: 1px solid #ededed;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  padding: 16px;

  &:hover {
    box-shadow: 0 0 6px 0 hsl(0, 0%, 83%);
  }
}

@mixin white-shadow {
  box-shadow: 0 0 6px 0 hsl(0, 0%, 83%);
}

@mixin mobile {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $md) and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: $lg) and (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width:$lg) and (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $xl) {
    @content;
  }
}
