@import '@shared/styles/mixins';

.course-detail {
  position: relative;
  margin-top: 24px;

  .left-section {
    .heading {
      padding: 12px;
      border: 1px solid #ebebec;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 4px;

      .banner {
        border-radius: 8px;
        position: relative;
        height: 180px;

        .teacher {
          position: absolute;
          bottom: -40px;
          left: 24px;
        }
      }

      .info {
        margin-top: 52px;

        .author {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }

    .course-info {
      @extend .heading;
      margin-top: 12px;
    }
  }

  .right-section {
    display: block;
    position: sticky;
    top: 88px;
    border: 1px solid #ebebec;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .info-block {
      width: 100%;
      padding: 12px;

      .description {
        margin: 0;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    .footer {
      padding: 12px;
      display: flex;
      gap: 16px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .price {
        font-weight: 500;
        font-size: 28px;
      }

      .btns {
        display: flex;
        gap: 16px;
      }
    }
  }
}

// https://er.educause.edu/-/media/images/blogs/2020/8/er20_3206_706x394_blog.jpg
