@import '@shared/styles/mixins';

.lecture-block {
  @include card-wrapper;
  margin-top: 12px;
  padding: 12px;

  .info {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 24px;

    .item {
      display: flex;
      gap: 12px;
    }
  }
}
