@import "@/shared/styles/mixins";

.class-home {
	padding: 0px;

	.conversations {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		.reaction {
			margin-top: 8px;
		}
	}
}
