@import "@/shared/styles/mixins";

.classrooms {
	.header {
		padding: 12px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
	}
	.add-btn {
		display: flex;
		justify-content: center;
		margin-bottom: 12px;

		.link {
			@include card-wrapper;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
