@import '@shared/styles/mixins';

.add-assignment {
  .assignment-info {
    @include card-wrapper;
    margin-top: 12px;

    .title {
      // does not work
      .ck .ck-editor__main > .ck-editor__editable {
        border: none !important;
      }

      p {
        font-size: 22px;
      }
    }

    .description {
      font-size: 16px;
    }
  }

  .questions {
    margin-top: 12px;

    .btn-add {
      margin-top: 12px;
    }
  }

  .btn-submit {
    margin-top: 12px;
  }

  .btn-action {
    margin-top: 12px;
    display: flex;
    gap: 12px;
  }
}
