@import "@/shared/styles/mixins";

.comment-reply {
	display: flex;
	gap: 12px;
	align-items: top;

	.form {
		flex: 1;
		display: flex;
		gap: 12px;
		align-items: end;
		justify-content: space-between;

		.input {
			flex: 1;
			margin: 0;
		}
	}

	.send-btn {
		&:hover {
			cursor: pointer;
			color: #6067f1;
		}
	}
}
