@import '@shared/styles/mixins';

.wrapper {
  width: 100%;
  
  .item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;

    .input {
      flex: 1;
    }
  }

  .btn-add {
    margin-top: 12px;
  }
}

.answer {
  margin-top: 12px;
}
